@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  box-shadow: none !important;
}

.center {
  @apply flex justify-center items-center;
}

.head-1 {
  @apply text-xl md:text-2xl font-semibold;
}

.dark-mode {
  background: #001529 !important;
}

.hover-text-white:hover {
  color: white !important;
}

input,
input:focus {
  background: transparent;
  border: 0;
  outline: none;
}

.mar {
  margin: 0 auto !important;
  color: teal;
}

.bg-transition {
  transition: background 0.4s;
}

.border-gray {
  border: 1px solid transparent;
  transition: border 0.5s, background 0.5s;
  @apply border-gray-200 !important;
}

.border-green {
  border: 1px solid green !important;
}

.input-error {
  border: 1px solid red !important;
  @apply bg-red-50;
}
.input-error input {
  @apply bg-red-50;
}

.btn-dark {
  @apply bg-black  text-white text-[0.9rem] md:text-[1rem];
}
.btn-dark:hover {
  @apply bg-gray-900;
}

.font-outfit {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-fredoka{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.blue {
  background-color: #1d4ed8;
}
.light-blue {
  background-color: #1d4fd86d;
}

.orange-bubble {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d18420;
  filter: blur(70px);
}

.orangle-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsla(27, 100%, 94%, 1);

  background: linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  background: -moz-linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  background: -webkit-linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFEDDE", endColorstr="#EDA06F", GradientType=1 );}

/* modal color */
.blue-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsla(0, 0%, 100%, 1);

background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#001CEE", GradientType=1 );
}



.modal-bg {
  background: rgba(255, 255, 255, 0.536);
}

.job-card:hover , .company-card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.job-slider{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-orange{
  @apply bg-orange-600 text-white rounded-full;
}

.btn-orange-outline{
  @apply border-orange-600 border rounded-full
}

.primary-shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.primary-shadow-hover:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.ant-upload-select{
  width: 200px !important;
  height: 200px !important;
}
.active-tag > .close
{
  transition: 0.5s background;
}
.active-tag:hover > .close{
  background: gray !important;
  color: white;
}

.profile-modal{
  transform: translateX(102%);
  transition: 0.7s transform;
}

.profile-modal-show{
  transform: translateX(0%);
}


.ant-picker-outlined{
  width: 100% !important;
  box-shadow: none !important;
  @apply bg-gray-200 !border-gray-200
}

.ant-picker-outlined :focus{
  background: white !important;
}
.ant-picker-input{
  padding-left: 10px;
}
.ant-picker-input input::placeholder{
  color:  black !important;
  font-size: 1rem;
  @apply font-outfit 
}
.ant-picker-suffix{
  color: orange !important;
}
.ant-picker-active-bar{
  background: orange !important;
}
