@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  box-shadow: none !important;
}

.center {
  @apply flex justify-center items-center;
}

.head-1 {
  @apply text-xl md:text-2xl font-semibold;
}

.dark-mode {
  background: #001529 !important;
}

.hover-text-white:hover {
  color: white !important;
}

input,
input:focus {
  background: transparent;
  border: 0;
  outline: none;
}

.mar {
  margin: 0 auto !important;
  color: teal;
}

.bg-transition {
  transition: background 0.4s;
}

.border-gray {
  border: 1px solid transparent;
  transition: border 0.5s, background 0.5s;
  @apply border-gray-200 !important;
}

.border-green {
  border: 1px solid green !important;
}

.input-error {
  border: 1px solid red !important;
  @apply bg-red-50;
}
.input-error input {
  @apply bg-red-50;
}

.btn-dark {
  @apply bg-black  text-white text-[0.9rem] md:text-[1rem];
}
.btn-dark:hover {
  @apply bg-gray-900;
}

.font-outfit ,* {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-emploez {
  font-family: "Arima";
  font-optical-sizing: auto;
  font-style: normal;
}

.ant-input-textarea-affix-wrapper.ant-input-affix-wrapper >textarea.ant-input {
  font-family: "Outfit", system-ui !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-fredoka{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.blue {
  background-color: #1d4ed8;
}
.light-blue {
  background-color: #1d4fd86d;
}

.orange-bubble {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d18420;
  filter: blur(70px);
}

.orangle-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsla(27, 100%, 94%, 1);

  background: linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  background: -moz-linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  background: -webkit-linear-gradient(45deg, hsla(27, 100%, 94%, 1) 28%, hsla(23, 78%, 68%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFEDDE", endColorstr="#EDA06F", GradientType=1 );}

/* modal color */
.blue-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: hsla(0, 0%, 100%, 1);

background: linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(0, 0%, 100%, 1) 12%, hsla(233, 100%, 47%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#001CEE", GradientType=1 );
}



.modal-bg {
  background: rgba(255, 255, 255, 0.536);
}

.job-card:hover , .company-card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.job-slider{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-orange{
  @apply bg-orange-600 text-white rounded-full;
}

.btn-orange-outline{
  @apply border-orange-600 border rounded-full
}

.primary-shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.primary-shadow-hover:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.ant-upload-select{
  width: 200px !important;
  height: 200px !important;
}
.active-tag > .close
{
  transition: 0.5s background;
}
.active-tag:hover > .close{
  background: gray !important;
  color: white;
}

.profile-modal{
  transform: translateX(102%);
  transition: 0.7s transform;
}

.profile-modal-show{
  transform: translateX(0%);
}


.ant-picker-outlined{
  width: 100% !important;
  background: white;
}


.ant-picker-input{
  padding-left: 10px;
}
.ant-picker-input input::placeholder{
  color:  black !important;
  font-size: 1rem;
  @apply font-outfit 
}
.ant-picker-suffix{
  color: orange !important;
}
.ant-picker-active-bar{
  background: orange !important;
}

.no-scroll{
  overflow: hidden;
}


.card-status{
  height: 0;
  overflow: hidden;
  transition: 0.8s all;
}

.card-status-active{
  height: 20px;
}


/* Custom scrolling Css */

/* For WebKit browsers (Chrome, Safari, Edge) */

/* For WebKit browsers (Chrome, Safari, Edge) */

@media (max-width: 800px) {
  .custom-scroll::-webkit-scrollbar {
    width: 0px !important; /* Hide scrollbar */
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #848c9032 ;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c9c8c8;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c !important;
  cursor: pointer;
}

.custom-scroll-nowidth::-webkit-scrollbar {
  width: 0px;
}


/* Stepper */
.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon-dot {
  background-color: green !important; /* Green dot for finished steps */
}

/* Change the title color for finished steps */
.ant-steps-item-finish .ant-steps-item-title {
  color: green !important; /* Green title text for finished steps */
}



/* Change the trail (line) color for finished steps */
.ant-steps-item-finish + .ant-steps-item .ant-steps-item-tail::after {
  background-color: green !important; 
}

/* Optional: If the steps are horizontal and you want to change the connecting line */
.ant-steps-item-finish .ant-steps-item-tail::after {
  background-color: green !important; 
}


/* Ckeck box Custom Color */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: black; /* Background when checked */
  border-color: black; /* Border color when checked */
}

/* Change hover color when checked */
.ant-wave-target{
  background-color: black; /* Keep background color black when hovered */
  border-color: white; /* Keep the border white when hovered */
}

/* On hover for unchecked checkbox */
.ant-checkbox:hover .ant-checkbox-inner {
  background-color: white; /* Set background to white */
  border-color: black; /* Set border to black on hover */
}

:where(.css-dev-only-do-not-override-5wsri9).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: rgba(0, 0, 0, 0.88);
  border-color: transparent;
}

.ant-select{
  background: transparent;
  
  transition: 0.7s background;
  box-shadow: none;
}
.ant-select-focused{
  background: white;
  border: rgb(174, 46, 46) !important;
}
.ant-select-selector{
  outline: none !important;
  border: gray !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector
{
  /* background: rgb(206, 206, 206,0.6); */
  transition: 0.7s background;
}


:where(.css-dev-only-do-not-override-5wsri9).ant-select .ant-select-selection-placeholder{
  color: black;
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}


input::placeholder{
  font-size: 0.9rem !important;
}

.css-t3ipsp-control  {
  box-shadow: none !important;
  border: 1px solid gray !important;
  outline: none !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active a{
  color: black !important;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active{
  border-color: #001529 !important;
}


.company-search-input{
  border: 1px solid gray !important;
}

/* Add this CSS */
.auto-complete-custom {
  border-radius: 8px; /* For rounded corners */
  border: 1px solid black !important;
  width: 200px;
}

.auto-complete-custom:focus-within {
  border: 1px solid black !important; /* Ensure the border remains 1px solid black on focus */
  outline: none !important; /* Remove the default outline (optional) */
}
.auto-complete-custom .ant-select-selector{
  box-shadow: none !important;
}

.animate-slow-bounce{
  animation: bounceAnimation  3s infinite linear;
}


@keyframes bounceAnimation {

  0%{
    transform: translateY(0) rotate(0deg);
  }

  50%{
    transform: translateY(-20px) rotate(10deg);

  }
  100%{
    transform: translateY(0) rotate(0deg);
  }
  
}

.astronut-img{
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}

.cost-input {
  border: 1px solid rgb(231, 231, 231);
  padding: 8px;
  color: black;
  border-radius: 5px;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  padding: 10px;
  width: 12rem;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(219, 218, 218);
  color: #333;
}

.react-datepicker {
  padding: 15px;
  margin-top: 15px;
  margin-left: 18px;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: rgb(77, 77, 125);
  color: #fff;
}

.react-datepicker__navigation--next, .react-datepicker__navigation--previous {
  margin-top: 6%;
  color: #001529 !important;
  border: #001529;
  background-color: #001529;
}

.titleBg {
  z-index: 0;
}

.titleNav {
  z-index: 999;
}
.custom-select-input .ant-select-selector {
  border: 1px solid #bfbfbf !important; /* Default border */
}

